In [189]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
%matplotlib inline

In [190]:
w = pd.read_csv('https://raw.githubusercontent.com/borja876/Thinkful-DataScience-Borja/master/Electricity%20Consumption.csv')
x = pd.read_csv('https://raw.githubusercontent.com/borja876/Thinkful-DataScience-Borja/master/GDP%20current%20prices.csv')
y = pd.read_csv('https://raw.githubusercontent.com/borja876/Thinkful-DataScience-Borja/master/Population.csv')

In [191]:
df = pd.DataFrame(w)
df1 = pd.DataFrame(x)
#df2 = pd.DataFrame(y)

In [192]:
#Cleanse Data Frame Electricity Consumption:
#Take out rows without countries
#Rename columns
#Clean columns taking out those that are not used
dfa= df[:3206]
dfb= dfa.rename(columns={'Country or Area': 'Country', 'Quantity': 'Household Consumption (GWh)'})
dfc = dfb.drop(["Quantity Footnotes", "Unit", "Commodity - Transaction"], axis=1)
print(dfc)

          Country    Year  Household Consumption (GWh)
0     Afghanistan  2014.0                      2204.90
1     Afghanistan  2013.0                      1633.50
2     Afghanistan  2012.0                      1922.00
3     Afghanistan  2011.0                      1145.00
4     Afghanistan  2010.0                      1387.00
5     Afghanistan  2009.0                       300.00
6     Afghanistan  2008.0                       300.00
7     Afghanistan  2007.0                       300.00
8     Afghanistan  2006.0                       300.00
9     Afghanistan  2005.0                       150.00
10    Afghanistan  2004.0                       150.00
11    Afghanistan  2003.0                       135.00
12    Afghanistan  2002.0                       125.00
13    Afghanistan  2001.0                        98.00
14    Afghanistan  2000.0                       100.00
15        Albania  2014.0                      3500.00
16        Albania  2013.0                      3859.53
17        Albania  2012.0                      3052.33
18        Albania  2011.0                      2711.74
19        Albania  2010.0                      2587.44
20        Albania  2009.0                      2604.65
21        Albania  2008.0                      2325.58
22        Albania  2007.0                      1965.10
23        Albania  2006.0                      1977.00
24        Albania  2005.0                      2733.00
25        Albania  2004.0                      2791.00
26        Albania  2003.0                      3011.00
27        Albania  2002.0                      3070.00
28        Albania  2001.0                      2405.00
29        Albania  2000.0                      2463.00
...           ...     ...                          ...
3176       Zambia  2014.0                      3251.00
3177       Zambia  2013.0                      3361.00
3178       Zambia  2012.0                      3187.00
3179       Zambia  2011.0                      3046.00
3180       Zambia  2010.0                      2768.00
3181       Zambia  2009.0                      2580.00
3182       Zambia  2008.0                      2022.00
3183       Zambia  2007.0                      1983.00
3184       Zambia  2006.0                      1619.00
3185       Zambia  2005.0                      1535.00
3186       Zambia  2004.0                      1461.00
3187       Zambia  2003.0                      1378.00
3188       Zambia  2002.0                      1184.00
3189       Zambia  2001.0                      1052.00
3190       Zambia  2000.0                      1267.00
3191     Zimbabwe  2014.0                      2742.00
3192     Zimbabwe  2013.0                      2820.00
3193     Zimbabwe  2012.0                      2781.00
3194     Zimbabwe  2011.0                      2759.00
3195     Zimbabwe  2010.0                      2497.00
3196     Zimbabwe  2009.0                      2797.00
3197     Zimbabwe  2008.0                      2949.00
3198     Zimbabwe  2007.0                      3001.00
3199     Zimbabwe  2006.0                      3364.00
3200     Zimbabwe  2005.0                      2939.00
3201     Zimbabwe  2004.0                      2884.00
3202     Zimbabwe  2003.0                      2728.00
3203     Zimbabwe  2002.0                      2487.00
3204     Zimbabwe  2001.0                      2349.00
3205     Zimbabwe  2000.0                      2316.00

[3206 rows x 3 columns]

In [193]:
#Cleanse Data Frame GDP Current Prices (USD):
#Take out rows without countries
#Rename columns
#Clean columns taking out those that are not used
dfd= df1[:3322]
dfe= dfd.rename(columns={'Country or Area': 'Country', 'Value': 'GDP Current Prices (USD)'})
dfg = dfe.drop('Value Footnotes', axis=1)
print(dfg)

          Country  Year  GDP Current Prices (USD)
0     Afghanistan  2014              2.005019e+10
1     Afghanistan  2013              2.004633e+10
2     Afghanistan  2012              2.053654e+10
3     Afghanistan  2011              1.793024e+10
4     Afghanistan  2010              1.593680e+10
5     Afghanistan  2009              1.248694e+10
6     Afghanistan  2008              1.019053e+10
7     Afghanistan  2007              9.843842e+09
8     Afghanistan  2006              7.057598e+09
9     Afghanistan  2005              6.275076e+09
10    Afghanistan  2004              5.285462e+09
11    Afghanistan  2003              4.583649e+09
12    Afghanistan  2002              4.128818e+09
13    Afghanistan  2001              2.461666e+09
14        Albania  2014              1.327796e+10
15        Albania  2013              1.278103e+10
16        Albania  2012              1.231978e+10
17        Albania  2011              1.289087e+10
18        Albania  2010              1.192695e+10
19        Albania  2009              1.204421e+10
20        Albania  2008              1.288135e+10
21        Albania  2007              1.070101e+10
22        Albania  2006              8.992642e+09
23        Albania  2005              8.158549e+09
24        Albania  2004              7.314865e+09
25        Albania  2003              5.746946e+09
26        Albania  2002              4.435079e+09
27        Albania  2001              4.060759e+09
28        Albania  2000              3.632044e+09
29        Algeria  2014              2.135185e+11
...           ...   ...                       ...
3292       Zambia  2014              2.713464e+10
3293       Zambia  2013              2.804552e+10
3294       Zambia  2012              2.550306e+10
3295       Zambia  2011              2.345952e+10
3296       Zambia  2010              2.026555e+10
3297       Zambia  2009              1.532834e+10
3298       Zambia  2008              1.791086e+10
3299       Zambia  2007              1.405696e+10
3300       Zambia  2006              1.275686e+10
3301       Zambia  2005              8.331870e+09
3302       Zambia  2004              6.221078e+09
3303       Zambia  2003              4.901840e+09
3304       Zambia  2002              4.193846e+09
3305       Zambia  2001              4.094481e+09
3306       Zambia  2000              3.600683e+09
3307     Zimbabwe  2014              1.419691e+10
3308     Zimbabwe  2013              1.349023e+10
3309     Zimbabwe  2012              1.239272e+10
3310     Zimbabwe  2011              1.095623e+10
3311     Zimbabwe  2010              9.422161e+09
3312     Zimbabwe  2009              8.157077e+09
3313     Zimbabwe  2008              4.415703e+09
3314     Zimbabwe  2007              5.291950e+09
3315     Zimbabwe  2006              5.443896e+09
3316     Zimbabwe  2005              5.755215e+09
3317     Zimbabwe  2004              5.805598e+09
3318     Zimbabwe  2003              5.727592e+09
3319     Zimbabwe  2002              6.342116e+09
3320     Zimbabwe  2001              6.777385e+09
3321     Zimbabwe  2000              6.689958e+09

[3322 rows x 3 columns]

In [194]:
#Cleanse Data Frame Population:
#Take out rows without countries
#Rename columns
#Clean columns taking out those that are not used
#dfh= df2[:3522]
#dfi= dfh.rename(columns={'Country or Area': 'Country', 'Value': 'Population'})
#dfj = dfi.drop('Value Footnotes', axis=1)
#print(dfj)

In [195]:
result = pd.merge(dfc, dfj, left_index=True, right_index=True, how='outer')
print(result)

        Country_x  Year_x  Household Consumption (GWh)    Country_y Year_y  \
0     Afghanistan  2014.0                      2204.90  Afghanistan   2014
1     Afghanistan  2013.0                      1633.50  Afghanistan   2013
2     Afghanistan  2012.0                      1922.00  Afghanistan   2012
3     Afghanistan  2011.0                      1145.00  Afghanistan   2011
4     Afghanistan  2010.0                      1387.00  Afghanistan   2010
5     Afghanistan  2009.0                       300.00  Afghanistan   2009
6     Afghanistan  2008.0                       300.00  Afghanistan   2008
7     Afghanistan  2007.0                       300.00  Afghanistan   2007
8     Afghanistan  2006.0                       300.00  Afghanistan   2006
9     Afghanistan  2005.0                       150.00  Afghanistan   2005
10    Afghanistan  2004.0                       150.00  Afghanistan   2004
11    Afghanistan  2003.0                       135.00  Afghanistan   2003
12    Afghanistan  2002.0                       125.00  Afghanistan   2002
13    Afghanistan  2001.0                        98.00  Afghanistan   2001
14    Afghanistan  2000.0                       100.00  Afghanistan   2000
15        Albania  2014.0                      3500.00      Albania   2014
16        Albania  2013.0                      3859.53      Albania   2013
17        Albania  2012.0                      3052.33      Albania   2012
18        Albania  2011.0                      2711.74      Albania   2011
19        Albania  2010.0                      2587.44      Albania   2010
20        Albania  2009.0                      2604.65      Albania   2009
21        Albania  2008.0                      2325.58      Albania   2008
22        Albania  2007.0                      1965.10      Albania   2007
23        Albania  2006.0                      1977.00      Albania   2006
24        Albania  2005.0                      2733.00      Albania   2005
25        Albania  2004.0                      2791.00      Albania   2004
26        Albania  2003.0                      3011.00      Albania   2003
27        Albania  2002.0                      3070.00      Albania   2002
28        Albania  2001.0                      2405.00      Albania   2001
29        Albania  2000.0                      2463.00      Albania   2000
...           ...     ...                          ...          ...    ...
3492          NaN     NaN                          NaN       Zambia   2014
3493          NaN     NaN                          NaN       Zambia   2013
3494          NaN     NaN                          NaN       Zambia   2012
3495          NaN     NaN                          NaN       Zambia   2011
3496          NaN     NaN                          NaN       Zambia   2010
3497          NaN     NaN                          NaN       Zambia   2009
3498          NaN     NaN                          NaN       Zambia   2008
3499          NaN     NaN                          NaN       Zambia   2007
3500          NaN     NaN                          NaN       Zambia   2006
3501          NaN     NaN                          NaN       Zambia   2005
3502          NaN     NaN                          NaN       Zambia   2004
3503          NaN     NaN                          NaN       Zambia   2003
3504          NaN     NaN                          NaN       Zambia   2002
3505          NaN     NaN                          NaN       Zambia   2001
3506          NaN     NaN                          NaN       Zambia   2000
3507          NaN     NaN                          NaN     Zimbabwe   2014
3508          NaN     NaN                          NaN     Zimbabwe   2013
3509          NaN     NaN                          NaN     Zimbabwe   2012
3510          NaN     NaN                          NaN     Zimbabwe   2011
3511          NaN     NaN                          NaN     Zimbabwe   2010
3512          NaN     NaN                          NaN     Zimbabwe   2009
3513          NaN     NaN                          NaN     Zimbabwe   2008
3514          NaN     NaN                          NaN     Zimbabwe   2007
3515          NaN     NaN                          NaN     Zimbabwe   2006
3516          NaN     NaN                          NaN     Zimbabwe   2005
3517          NaN     NaN                          NaN     Zimbabwe   2004
3518          NaN     NaN                          NaN     Zimbabwe   2003
3519          NaN     NaN                          NaN     Zimbabwe   2002
3520          NaN     NaN                          NaN     Zimbabwe   2001
3521          NaN     NaN                          NaN     Zimbabwe   2000

      Population
0     31627506.0
1     30682500.0
2     29726803.0
3     28809167.0
4     27962207.0
5     27207291.0
6     26528741.0
7     25877544.0
8     25183615.0
9     24399948.0
10    23499850.0
11    22507368.0
12    21487079.0
13    20531160.0
14    19701940.0
15     2893654.0
16     2896652.0
17     2900247.0
18     2904780.0
19     2913021.0
20     2927519.0
21     2947314.0
22     2970017.0
23     2992547.0
24     3011487.0
25     3026939.0
26     3039616.0
27     3051010.0
28     3060173.0
29     3089027.0
...          ...
3492  15721343.0
3493  15246086.0
3494  14786581.0
3495  14343526.0
3496  13917439.0
3497  13507849.0
3498  13114579.0
3499  12738676.0
3500  12381509.0
3501  12043591.0
3502  11725635.0
3503  11426006.0
3504  11139978.0
3505  10861238.0
3506  10585220.0
3507  15245855.0
3508  14898092.0
3509  14565482.0
3510  14255592.0
3511  13973897.0
3512  13720997.0
3513  13495462.0
3514  13297798.0
3515  13127942.0
3516  12984418.0
3517  12867828.0
3518  12774162.0
3519  12691431.0
3520  12603988.0
3521  12499981.0

[3522 rows x 6 columns]

In [200]:
result['Check'] = (result['Country_x'] == result['Country_y']).astype('int')
result

,Country_x,Year_x,Household Consumption (GWh),Country_y,Year_y,Population,Check
0,Afghanistan,2014.0,2204.90,Afghanistan,2014,31627506.0,1
1,Afghanistan,2013.0,1633.50,Afghanistan,2013,30682500.0,1
2,Afghanistan,2012.0,1922.00,Afghanistan,2012,29726803.0,1
3,Afghanistan,2011.0,1145.00,Afghanistan,2011,28809167.0,1
4,Afghanistan,2010.0,1387.00,Afghanistan,2010,27962207.0,1
5,Afghanistan,2009.0,300.00,Afghanistan,2009,27207291.0,1
6,Afghanistan,2008.0,300.00,Afghanistan,2008,26528741.0,1
7,Afghanistan,2007.0,300.00,Afghanistan,2007,25877544.0,1
8,Afghanistan,2006.0,300.00,Afghanistan,2006,25183615.0,1
9,Afghanistan,2005.0,150.00,Afghanistan,2005,24399948.0,1
10,Afghanistan,2004.0,150.00,Afghanistan,2004,23499850.0,1
11,Afghanistan,2003.0,135.00,Afghanistan,2003,22507368.0,1
12,Afghanistan,2002.0,125.00,Afghanistan,2002,21487079.0,1
13,Afghanistan,2001.0,98.00,Afghanistan,2001,20531160.0,1
14,Afghanistan,2000.0,100.00,Afghanistan,2000,19701940.0,1
15,Albania,2014.0,3500.00,Albania,2014,2893654.0,1
16,Albania,2013.0,3859.53,Albania,2013,2896652.0,1
17,Albania,2012.0,3052.33,Albania,2012,2900247.0,1
18,Albania,2011.0,2711.74,Albania,2011,2904780.0,1
19,Albania,2010.0,2587.44,Albania,2010,2913021.0,1
20,Albania,2009.0,2604.65,Albania,2009,2927519.0,1
21,Albania,2008.0,2325.58,Albania,2008,2947314.0,1
22,Albania,2007.0,1965.10,Albania,2007,2970017.0,1
23,Albania,2006.0,1977.00,Albania,2006,2992547.0,1
24,Albania,2005.0,2733.00,Albania,2005,3011487.0,1
25,Albania,2004.0,2791.00,Albania,2004,3026939.0,1
26,Albania,2003.0,3011.00,Albania,2003,3039616.0,1
27,Albania,2002.0,3070.00,Albania,2002,3051010.0,1
28,Albania,2001.0,2405.00,Albania,2001,3060173.0,1
29,Albania,2000.0,2463.00,Albania,2000,3089027.0,1
...,...,...,...,...,...,...,...
3492,NaN,NaN,NaN,Zambia,2014,15721343.0,0
3493,NaN,NaN,NaN,Zambia,2013,15246086.0,0
3494,NaN,NaN,NaN,Zambia,2012,14786581.0,0
3495,NaN,NaN,NaN,Zambia,2011,14343526.0,0
3496,NaN,NaN,NaN,Zambia,2010,13917439.0,0
3497,NaN,NaN,NaN,Zambia,2009,13507849.0,0
3498,NaN,NaN,NaN,Zambia,2008,13114579.0,0
3499,NaN,NaN,NaN,Zambia,2007,12738676.0,0
3500,NaN,NaN,NaN,Zambia,2006,12381509.0,0
3501,NaN,NaN,NaN,Zambia,2005,12043591.0,0
3502,NaN,NaN,NaN,Zambia,2004,11725635.0,0
3503,NaN,NaN,NaN,Zambia,2003,11426006.0,0
3504,NaN,NaN,NaN,Zambia,2002,11139978.0,0
3505,NaN,NaN,NaN,Zambia,2001,10861238.0,0
3506,NaN,NaN,NaN,Zambia,2000,10585220.0,0
3507,NaN,NaN,NaN,Zimbabwe,2014,15245855.0,0
3508,NaN,NaN,NaN,Zimbabwe,2013,14898092.0,0
3509,NaN,NaN,NaN,Zimbabwe,2012,14565482.0,0
3510,NaN,NaN,NaN,Zimbabwe,2011,14255592.0,0
3511,NaN,NaN,NaN,Zimbabwe,2010,13973897.0,0
3512,NaN,NaN,NaN,Zimbabwe,2009,13720997.0,0
3513,NaN,NaN,NaN,Zimbabwe,2008,13495462.0,0
3514,NaN,NaN,NaN,Zimbabwe,2007,13297798.0,0
3515,NaN,NaN,NaN,Zimbabwe,2006,13127942.0,0
3516,NaN,NaN,NaN,Zimbabwe,2005,12984418.0,0
3517,NaN,NaN,NaN,Zimbabwe,2004,12867828.0,0
3518,NaN,NaN,NaN,Zimbabwe,2003,12774162.0,0
3519,NaN,NaN,NaN,Zimbabwe,2002,12691431.0,0
3520,NaN,NaN,NaN,Zimbabwe,2001,12603988.0,0
3521,NaN,NaN,NaN,Zimbabwe,2000,12499981.0,0

In [201]:
result.dropna()

,Country_x,Year_x,Household Consumption (GWh),Country_y,Year_y,Population,Check
0,Afghanistan,2014.0,2204.90,Afghanistan,2014,31627506.0,1
1,Afghanistan,2013.0,1633.50,Afghanistan,2013,30682500.0,1
2,Afghanistan,2012.0,1922.00,Afghanistan,2012,29726803.0,1
3,Afghanistan,2011.0,1145.00,Afghanistan,2011,28809167.0,1
4,Afghanistan,2010.0,1387.00,Afghanistan,2010,27962207.0,1
5,Afghanistan,2009.0,300.00,Afghanistan,2009,27207291.0,1
6,Afghanistan,2008.0,300.00,Afghanistan,2008,26528741.0,1
7,Afghanistan,2007.0,300.00,Afghanistan,2007,25877544.0,1
8,Afghanistan,2006.0,300.00,Afghanistan,2006,25183615.0,1
9,Afghanistan,2005.0,150.00,Afghanistan,2005,24399948.0,1
10,Afghanistan,2004.0,150.00,Afghanistan,2004,23499850.0,1
11,Afghanistan,2003.0,135.00,Afghanistan,2003,22507368.0,1
12,Afghanistan,2002.0,125.00,Afghanistan,2002,21487079.0,1
13,Afghanistan,2001.0,98.00,Afghanistan,2001,20531160.0,1
14,Afghanistan,2000.0,100.00,Afghanistan,2000,19701940.0,1
15,Albania,2014.0,3500.00,Albania,2014,2893654.0,1
16,Albania,2013.0,3859.53,Albania,2013,2896652.0,1
17,Albania,2012.0,3052.33,Albania,2012,2900247.0,1
18,Albania,2011.0,2711.74,Albania,2011,2904780.0,1
19,Albania,2010.0,2587.44,Albania,2010,2913021.0,1
20,Albania,2009.0,2604.65,Albania,2009,2927519.0,1
21,Albania,2008.0,2325.58,Albania,2008,2947314.0,1
22,Albania,2007.0,1965.10,Albania,2007,2970017.0,1
23,Albania,2006.0,1977.00,Albania,2006,2992547.0,1
24,Albania,2005.0,2733.00,Albania,2005,3011487.0,1
25,Albania,2004.0,2791.00,Albania,2004,3026939.0,1
26,Albania,2003.0,3011.00,Albania,2003,3039616.0,1
27,Albania,2002.0,3070.00,Albania,2002,3051010.0,1
28,Albania,2001.0,2405.00,Albania,2001,3060173.0,1
29,Albania,2000.0,2463.00,Albania,2000,3089027.0,1
...,...,...,...,...,...,...,...
3176,Zambia,2014.0,3251.00,Tonga,2000,97898.0,0
3177,Zambia,2013.0,3361.00,Trinidad and Tobago,2014,1354483.0,0
3178,Zambia,2012.0,3187.00,Trinidad and Tobago,2013,1348240.0,0
3179,Zambia,2011.0,3046.00,Trinidad and Tobago,2012,1341579.0,0
3180,Zambia,2010.0,2768.00,Trinidad and Tobago,2011,1334790.0,0
3181,Zambia,2009.0,2580.00,Trinidad and Tobago,2010,1328095.0,0
3182,Zambia,2008.0,2022.00,Trinidad and Tobago,2009,1321624.0,0
3183,Zambia,2007.0,1983.00,Trinidad and Tobago,2008,1315372.0,0
3184,Zambia,2006.0,1619.00,Trinidad and Tobago,2007,1309260.0,0
3185,Zambia,2005.0,1535.00,Trinidad and Tobago,2006,1303141.0,0
3186,Zambia,2004.0,1461.00,Trinidad and Tobago,2005,1296933.0,0
3187,Zambia,2003.0,1378.00,Trinidad and Tobago,2004,1290535.0,0
3188,Zambia,2002.0,1184.00,Trinidad and Tobago,2003,1284052.0,0
3189,Zambia,2001.0,1052.00,Trinidad and Tobago,2002,1277840.0,0
3190,Zambia,2000.0,1267.00,Trinidad and Tobago,2001,1272383.0,0
3191,Zimbabwe,2014.0,2742.00,Trinidad and Tobago,2000,1267980.0,0
3192,Zimbabwe,2013.0,2820.00,Tunisia,2014,10996600.0,0
3193,Zimbabwe,2012.0,2781.00,Tunisia,2013,10886500.0,0
3194,Zimbabwe,2011.0,2759.00,Tunisia,2012,10777500.0,0
3195,Zimbabwe,2010.0,2497.00,Tunisia,2011,10673800.0,0
3196,Zimbabwe,2009.0,2797.00,Tunisia,2010,10547100.0,0
3197,Zimbabwe,2008.0,2949.00,Tunisia,2009,10439600.0,0
3198,Zimbabwe,2007.0,3001.00,Tunisia,2008,10328900.0,0
3199,Zimbabwe,2006.0,3364.00,Tunisia,2007,10225100.0,0
3200,Zimbabwe,2005.0,2939.00,Tunisia,2006,10127900.0,0
3201,Zimbabwe,2004.0,2884.00,Tunisia,2005,10029000.0,0
3202,Zimbabwe,2003.0,2728.00,Tunisia,2004,9932400.0,0
3203,Zimbabwe,2002.0,2487.00,Tunisia,2003,9839800.0,0
3204,Zimbabwe,2001.0,2349.00,Tunisia,2002,9748900.0,0
3205,Zimbabwe,2000.0,2316.00,Tunisia,2001,9650600.0,0

In [205]:
result2 = result[result.Check != 0]
result2

,Country_x,Year_x,Household Consumption (GWh),Country_y,Year_y,Population,Check
0,Afghanistan,2014.0,2204.90,Afghanistan,2014,31627506.0,1
1,Afghanistan,2013.0,1633.50,Afghanistan,2013,30682500.0,1
2,Afghanistan,2012.0,1922.00,Afghanistan,2012,29726803.0,1
3,Afghanistan,2011.0,1145.00,Afghanistan,2011,28809167.0,1
4,Afghanistan,2010.0,1387.00,Afghanistan,2010,27962207.0,1
5,Afghanistan,2009.0,300.00,Afghanistan,2009,27207291.0,1
6,Afghanistan,2008.0,300.00,Afghanistan,2008,26528741.0,1
7,Afghanistan,2007.0,300.00,Afghanistan,2007,25877544.0,1
8,Afghanistan,2006.0,300.00,Afghanistan,2006,25183615.0,1
9,Afghanistan,2005.0,150.00,Afghanistan,2005,24399948.0,1
10,Afghanistan,2004.0,150.00,Afghanistan,2004,23499850.0,1
11,Afghanistan,2003.0,135.00,Afghanistan,2003,22507368.0,1
12,Afghanistan,2002.0,125.00,Afghanistan,2002,21487079.0,1
13,Afghanistan,2001.0,98.00,Afghanistan,2001,20531160.0,1
14,Afghanistan,2000.0,100.00,Afghanistan,2000,19701940.0,1
15,Albania,2014.0,3500.00,Albania,2014,2893654.0,1
16,Albania,2013.0,3859.53,Albania,2013,2896652.0,1
17,Albania,2012.0,3052.33,Albania,2012,2900247.0,1
18,Albania,2011.0,2711.74,Albania,2011,2904780.0,1
19,Albania,2010.0,2587.44,Albania,2010,2913021.0,1
20,Albania,2009.0,2604.65,Albania,2009,2927519.0,1
21,Albania,2008.0,2325.58,Albania,2008,2947314.0,1
22,Albania,2007.0,1965.10,Albania,2007,2970017.0,1
23,Albania,2006.0,1977.00,Albania,2006,2992547.0,1
24,Albania,2005.0,2733.00,Albania,2005,3011487.0,1
25,Albania,2004.0,2791.00,Albania,2004,3026939.0,1
26,Albania,2003.0,3011.00,Albania,2003,3039616.0,1
27,Albania,2002.0,3070.00,Albania,2002,3051010.0,1
28,Albania,2001.0,2405.00,Albania,2001,3060173.0,1
29,Albania,2000.0,2463.00,Albania,2000,3089027.0,1
...,...,...,...,...,...,...,...
940,Eritrea,2004.0,92.00,Eritrea,2001,3655006.0,1
941,Eritrea,2003.0,85.00,Eritrea,2000,3535156.0,1
945,Estonia,2014.0,1739.00,Estonia,2011,1327439.0,1
946,Estonia,2013.0,1865.00,Estonia,2010,1331475.0,1
947,Estonia,2012.0,1956.00,Estonia,2009,1334515.0,1
948,Estonia,2011.0,1934.00,Estonia,2008,1337090.0,1
949,Estonia,2010.0,2023.00,Estonia,2007,1340680.0,1
950,Estonia,2009.0,1884.00,Estonia,2006,1346810.0,1
951,Estonia,2008.0,1845.00,Estonia,2005,1354775.0,1
952,Estonia,2007.0,1773.00,Estonia,2004,1362550.0,1
953,Estonia,2006.0,1675.00,Estonia,2003,1370720.0,1
954,Estonia,2005.0,1620.00,Estonia,2002,1379350.0,1
955,Estonia,2004.0,1618.00,Estonia,2001,1388115.0,1
956,Estonia,2003.0,1594.00,Estonia,2000,1396985.0,1
960,Ethiopia,2014.0,2435.00,Ethiopia,2011,89858696.0,1
961,Ethiopia,2013.0,2375.00,Ethiopia,2010,87561814.0,1
962,Ethiopia,2012.0,1840.00,Ethiopia,2009,85302099.0,1
963,Ethiopia,2011.0,1741.00,Ethiopia,2008,83079608.0,1
964,Ethiopia,2010.0,1472.00,Ethiopia,2007,80891968.0,1
965,Ethiopia,2009.0,1191.00,Ethiopia,2006,78735675.0,1
966,Ethiopia,2008.0,1178.00,Ethiopia,2005,76608431.0,1
967,Ethiopia,2007.0,1060.00,Ethiopia,2004,74506974.0,1
968,Ethiopia,2006.0,977.00,Ethiopia,2003,72432290.0,1
969,Ethiopia,2005.0,769.00,Ethiopia,2002,70391170.0,1
970,Ethiopia,2004.0,711.00,Ethiopia,2001,68393128.0,1
971,Ethiopia,2003.0,644.00,Ethiopia,2000,66443603.0,1
1257,Guinea,2000.0,254.00,Guinea,2014,12275527.0,1
1272,Guinea-Bissau,2000.0,10.65,Guinea-Bissau,2014,1800513.0,1
1287,Guyana,2000.0,182.00,Guyana,2014,763893.0,1
1302,Haiti,2000.0,116.00,Haiti,2014,10572029.0,1